@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Patrick+Hand&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Patrick Hand', cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  font-weight: 400;
}

body {
  background-color: #cde8d7;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

h1, h2, h3, h4, p, li {
  color: rgb(16, 70, 16);
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h1 span {
  font-size: 1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

h4 {
  font-style: italic;
  font-size: .8rem;
}

section {
  padding: 2rem;
}

img {
  width: 100%;
}

figure {
  max-width: 30rem;
  margin: auto;
}

p, li {
  max-width: 40rem;
  padding: 1rem;
  line-height: 160%;
}

li span {
  display: block;
  font-weight: 700;
}

p.bold {
  font-weight: 700;
}
p.italic {
  font-style: italic;
}

.landing-page p {
  padding: .5rem;
}

button,
.timer {
  appearance: none;
  border: none;
  padding: 1rem 2.2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  box-shadow: 0px 2px 3px #0a0d6791;
}

button.default,
.timer {
  background-color: #feffdd; 
  color: #0a0d67;
}

button.confirm {
  background-color: #dec2ff; 
  color: #431414;
}

button.warning {
  background-color: #fecbca; 
  color: #431414;
}

button:hover {
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.timer {
  display: grid;
  grid-template-columns: 4rem 2rem 4rem;
  font-size: 2rem;
}

.alert {
  font-weight: 700;
  color: red;
  animation: alert 500ms ease-in 0ms infinite alternate-reverse;
}

@keyframes alert {
  from { 
    opacity: 0;
    scale: 1;
  }
  to { 
    opacity: 1; 
    scale: 1.4;
  }
}